@mixin flex($justify: center, $align: center, $direction: column) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;

}

#main {
    background-color: #1B1A17;
    min-height: 100vh;
    @include flex;
    .side {
        width: 300px;
        height: 100vh;
        background-color: #2C272E;
        position: absolute;
        left: 0;
        top: 60px;
        .category {
            width: 200px;
            height: 90px;
            @include flex(flex-start, $direction: row);
            gap: 20px;
            padding-left: 20px;
        }
    }
}

.navbar {
    font-weight: 400;
    height: 60px;
    background-color: #2C272E;
    @include flex(space-between, $direction: row);
    padding: 0 20px;
    .menu {
        width: 400px;
        @include flex(space-between, $direction: row);
        .icon {
            @include flex(space-between, $direction: row);
            span {
                margin-left: 10px;
            }
        }
    }
    .settings {
        width: 200px;
        @include flex(space-between, $direction: row);
    }
}



#container {
    position: relative;
    left: 200px;
    width: 1280px;
    @include flex;
    .addTask {
        width: 700px;
        height: 50px;
        background-color: #1B1A17;
        border-color: #2C272E;
        border-style: solid;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px;
        @include flex(flex-start, $direction: row);
        gap: 10px;
        input {
            width: 500px;
            height: 30px;
            color: #EEEBDD;
            background-color: #1B1A17;
            border-radius: 10px;
            border-style: none;
            outline: none;
            font-size: 1rem;
        }
        button {
            width: 40px;
            height: 30px;
            background-color: #2C272E;
            border-color: hsl(222, 96%, 79%);
            border-style: solid;
            border-radius: 20px;
        }
    }
    .taskState {
        width: 80%;
        @include flex(flex-start, $direction: row);
    }
    .task {
        width: 700px;
        height: 50px;
        background-color: #2C272E;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 15px;
        @include flex(flex-start, $direction: row);
        gap: 10px;
        font-weight: 200;
        input {
            width: 40px;
            height: 30px;
            background-color: #2C272E;
            border-color: #A9333A;
            border-style: solid;
            border-radius: 20px;
        }
    }
}



