
<section id="main">
    <div id="container">
        <div class="addTask">
            <button (click)="addToList()">
            </button>
            <input [(ngModel)]="newTask" type="text" 
            placeholder="Add a new task ! ">
        </div>
      
        <div *ngFor="let x of items; let index = index;" 
                class="task">
                <input (click)="deleteTask(index)" type="button"
                 class="">
                {{x}}
        </div>
      </div>
</section>
