
<header>
    <div class="navbar">
        <div class="menu">
            <mat-icon aria-label="menu icon">menu</mat-icon>
            <div class="icon">
                <mat-icon aria-label="dashboard icon">dashboard</mat-icon>
                <span> Dashboard  </span>
            </div>
            <div class="icon">
                <mat-icon aria-label="collections icon">collections_bookmark</mat-icon>
                <span> Collections  </span>
            </div>


        </div>
        <div class="settings">
            <mat-icon aria-label="search icon">search</mat-icon>
            <mat-icon aria-label="notif icon">priority_high</mat-icon>
            <mat-icon aria-label="search icon">query_builder</mat-icon>
        </div>
    </div>

</header>

<section id="main">
    <div class="side">
        <div class="category">
            <div>
                <mat-icon aria-label="school icon">school</mat-icon>
            </div>
            <span> School  </span>
        </div>
        <div class="category">
            <div>
                <mat-icon aria-label="personnal icon">person_pin</mat-icon>
            </div>
            <span> Personnal  </span>
        </div>
        <div class="category">
            <div>
                <mat-icon aria-label="brush icon">brush</mat-icon>
            </div>
            <span> Design  </span>
        </div>
    </div>
    <div id="container">
      <div class="addTask">
        <button (click)="addToList()"></button>
        <input (keydown.enter)="addToList()" [(ngModel)]="newTask.value" type="text"
               placeholder="Add a new task ! ">
      </div>

      <div class="taskList">
        <h2>
          Tasks - {{tasksTodo().length}}
        </h2>
        <div *ngFor="let task of tasksTodo(); let index = index;"
             class="task">
          <input (click)="completeTask(task.id)" type="button">
          {{task.value}}
        </div>
      </div>
      <div class="taskList">
        <h2>
          Completed - {{completedTasksLength()}}
        </h2>
        <div class="task" *ngFor="let task of tasksDone(); let index = index;">
            <mat-icon aria-label="done icon">done</mat-icon>
          {{task.value}}
        </div>
      </div>
      </div>
</section>
