/* You can add global styles to this file, and also import other style files */
html {
  color: white;
  font-family: "Poppins", sans-serif;

  body {
    margin: 0;
  }
}

.mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
  font: inherit;
}

